.rootLayout {
  padding: 16px 64px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  display: flex;
  gap: 8px;
  font: bold;
  align-items: center;
}

img {
  width: 50px;
  height: 50px;
}

main {
  flex: 1;
  overflow: hidden;
}
